# Ignorer l'environnement virtuel Python
env_pfeavm/

# Ignorer les fichiers de cache Python
__pycache__/
*.pyc

# Ignorer les fichiers spécifiques à certains OS ou IDEs (facultatif mais recommandé)
.DS_Store # Fichiers macOS
.vscode/ # Dossiers de configuration VS Code
*.log # Fichiers de log
*.sqlite3 # Base de données SQLite (si utilisée et non versionnée)
