{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'user_app/css/bootstrap.min.css' %}">
    
</head>
<body>
    

   <div class="container mt-5">
<a href="{% url 'loginAV' %}">loginAV</a>

ok
</div>

    <script src="{% static 'user_app/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'user_app/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'user_app/js/popper.min.js' %}"></script>
</body>
</html>