{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Naftal AVM - e-commerce </title>
    <link rel="icon" type="image/png" href="{% static 'img/logos/logo-naftalsvg.png' %}">
    <link rel="stylesheet" href="{% static 'user_app/css/bootstrap.min.css' %}">
</head>
<body>
    
    <div class="container">
        <div class="container" style="margin-top: 150px;">
            <div class="card login-form">
              <div class="card-body">
    <h3>Réinitialisez votre mot de passe</h3>
    <hr>
    {% if validlink %}
    <p>Veuillez entrer votre nouveau mot de passe deux fois:</p>
    <form method="post">
        {% csrf_token %}
        <label for="id_new_password1" class="mb-2">Nouveau mot de passe :</label>
        <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1" class="form-control mb-4">
        
        <span class="helptext"><ul><li>Votre mot de passe ne doit pas être trop similaire à vos autres informations personnelles.</li><li>Votre mot de passe doit contenir au moins 8 caractères.</li><li>Votre mot de passe ne peut pas être un mot de passe couramment utilisé.</li><li>Votre mot de passe ne peut pas être entièrement numérique.</li></ul></span>
      
    
        <label for="id_new_password2" class="mb-2">Nouveau mot de passe confirmation :</label>
        <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" class="form-control mb-4">
        
        <p><input type="submit" class="btn btn-block fw-medium" style='background:#FFC926; color:dark;' value="Changer mon mot de passe"/></p>
    </form>

    {% else %}
    <p>Le lien de réinitialisation du mot de passe n'était pas valide, peut-être parce qu'il a déjà été utilisé. Veuillez demander une nouvelle réinitialisation du mot de passe.</p>
    {% endif %}
</div>
</div>
</div>
    </div>


<script src="{% static 'user_app/js/bootstrap.min.js' %}"></script>
<script src="{% static 'user_app/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'user_app/js/popper.min.js' %}"></script>
</body>
</html>