{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Naftal AVM - e-commerce </title>
    <link rel="icon" type="image/png" href="{% static 'img/logos/logo-naftalsvg.png' %}">
    <link rel="stylesheet" href="{% static 'user_app/css/bootstrap.min.css' %}">

</head>
<body>
    
    <div class="container mt-5">
     <h3 style="color:#255294">Mot de passe modifier</h3>
    
     <p class="fw-medium"> Votre mot de passe a été modifier. Tu peux <a href="{% url "loginAV" %}" style="color:#FFC926" >Connecte-toi maintenant</a></p>

    </div>


    <script src="{% static 'user_app/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'user_app/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'user_app/js/popper.min.js' %}"></script>
</body>
</html>