
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Naftal AVM - e-commerce </title>
    <link rel="icon" type="image/png" href="{% static 'img/logos/logo-naftalsvg.png' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'user_app/css/bootstrap.min.css' %}">
</head>
<body>



<section class="mail-seccess section">
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-12">
                <!-- Error Inner -->
                <div class="success-inner">
                    <h1 class="mb-3 text-center"><i class="fa fa-envelope" style="color:#255294"></i><div style="color:#FFC926" >Votre mail envoyé avec succès!</div></h1>
                    <p class="text-center">Si vous ne recevez pas d'e-mail, assurez-vous d'avoir entré l'adresse avec laquelle vous vous êtes inscrit et vérifiez votre dossier spam.</p>
                </div>
                <hr>
                <!--/ End Error Inner -->
            </div>
        </div>
    </div>
</section>




<script src="{% static 'user_app/js/bootstrap.min.js' %}"></script>
<script src="{% static 'user_app/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'user_app/js/popper.min.js' %}"></script>
</body>
</html>