<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
Quelqu'un a demandé la réinitialisation du mot de passe pour l'e-mail {{ email }}. Suivez le lien
dessous:
{{ protocol }}://{{ domain }}{% url "password_reset_confirm" uidb64=uid token=token %}
Votre nom d'utilisateur, au cas où vous l'auriez oublié: {{ user.get_username }}

</body>
</html>