{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Naftal AVM - e-commerce </title>
    <link rel="icon" type="image/png" href="{% static 'img/logos/logo-naftalsvg.png' %}">
    <link rel="stylesheet" href="{% static 'User_AVM/css/bootstrap.min.css' %}">
  

</head>
<body>

 <div class="container" style="margin-top: 150px;">
      <div class="card login-form">
        <div class="card-body">
           <h3 class="card-title text-center mb-4">Réinitialiser le mot de passe</h3>
           
           <div class="card-text">
              <form method="POST">
                {% csrf_token %}
                 <div class="form-group">
                    <label for="exampleInputEmail1" class="mb-4">Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.</label>
                    <input type="email" name="email" autocomplete="email" maxlength="254" required id="id_email" class="form-control form-control-sm mb-4" placeholder="Entrer votre addresse e-mail">
                 </div>
                 <button type="submit" class="btn btn-block fw-medium" style='background:#FFC926; color:dark;'>Envoyer un e-mail de réinitialisation du mot de passe</button>
              </form>
           </div>
        </div>
     </div>

    </div>

    

    <script src="{% static 'User_AVM/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'User_AVM/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'User_AVM/js/popper.min.js' %}"></script>

</body>

</html>